<!DOCTYPE HTML>
<html>
<head>
    <title>Time Stamp Convert / Copyright © 2017 Penguinchen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="vendor/bootstrap/3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="vendor/bootstrap-datetimepicker/4.17.37/bootstrap-datetimepicker.min.css">
    <style>
        table thead th {
            width: 49.5%;
            text-align: center;
        }
        .form_div {
            width:100%; 
            padding: 9.5px; 
            margin-bottom: 6px;
            background-color:#CCFF99;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .img_renew {
            width: 20px;
            height: 20px;
            padding: 6px 12px;
        }
    </style>
    <!-- vue -->
    <script src="vendor/vue/vue.min.js"></script>
    <!-- jquery -->
    <script src="vendor/jquery/2.2.4/jquery.min.js"></script>
    <!-- datepicker -->
    <script src="vendor/momentjs/2.17.1/moment.min.js"></script>
    <script src="vendor/momentjs/2.17.1/moment-with-locales.min.js"></script>
    <script src="vendor/bootstrap/3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="vendor/bootstrap-datetimepicker/4.17.37/bootstrap-datetimepicker.min.js"></script>    
</head>
<body>
    <table class="table table-border">	
        <thead>
            <th>時戳轉日期</th>
            <th>日期轉時戳</th>
        </thead>
        <tbody>
            <td>
                <div id="stamp_app" class="form-inline">
                    <div class="form_div">
                        <button class="btn btn-info" v-on:click="init_stamp">刷新</button>
                        <input type="text" class="form-control" placeholder="時戳" v-model="strStamp" />
                        <button class="btn btn-primary" v-on:click="convert_stamp">轉換日期時間</button>
                    </div>
                    <pre>
                        <span v-for="stamp in hisStamp">
                        {{ stamp.str_stamp }} => {{ stamp.str_datetime }}
                        </span>
                    </pre>
                </div>
            </td>
            <td>
                <div id="datepicker_app" class="form-inline">
                    <div class="form_div" style="position: relative;">
                        <button class="btn btn-info" v-on:click="init_datepicker">刷新</button>
                        <input type='text' class="form-control" id='input_datepicker' v-model="strDate" />
                        <button class="btn btn-primary" v-on:click="convert_datepicker">轉換時戳</button>
                        <button class="btn btn-warning" v-on:click="convert_datepickerST">00:00:00</button>
                        <button class="btn btn-warning" v-on:click="convert_datepickerED">23:59:59</button>
                    </div>
                    <pre>
                        <span v-for="date in hisDate">
                        {{ date.str_date }} => {{ date.str_stamp }}
                        </span>
                    </pre>
                </div>
            </td>
        </tbody>
    </table>
</body>
<script src="index.js"></script>
</html>
